.mismatch-row {
    background-color: #f9b5ad !important;
}

.matched-row {
    background-color: rgb(202, 253, 180) !important;
}

.mismatch-cell {
    background-color: rgb(247, 54, 54) !important;
}

.ag-group-value {
    height: 40px !important;
    padding: 5px;
}

.info_capsule {
    height: 12px;
    width: 20px;
    border-radius: 5px;
    border: 1px solid gray;
    box-shadow: 1px 4px 3px 0px rgba(0,0,0,0.5);
}