.theme_green {
    background-color: #7afbd0 !important;
}

.theme_dark_grey {
    background-color: #363b46 !important;
}

.theme_grey {
    background-color: #e6e6e6 !important;
}

.theme_light_grey {
    background-color: #f7fbfa !important;
}

.theme_off_white {
    background-color: #ffffff !important;
}

.dark_text {
    color: #646265 !important;
}

.light_text {
    color: #FFF !important;
}